<!-- 通用CSS -->
<head th:fragment=header(title) xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title th:text="${title}"></title>
    <!-- bootstrap -->
    <link th:href="@{/statics/lib/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
</head>



<!-- 通用JS -->
<div th:fragment="footer">
    <script th:src="@{/statics/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/statics/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
</div>