<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.lrface.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="loginName" column="login_name"/>
        <result property="passWord" column="pass_word"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectUser">
        select id, user_name, login_name, pass_word, update_time, create_time
        from tb_user
    </sql>

    <insert id="insertUser">
        INSERT INTO tb_user VALUES (0, #{userName}, null, null, NOw(), NOW());
    </insert>

    <select id="selectCheckIfUser" resultMap="userMap">
        <include refid="selectUser"/>
        where user_name = #{loginName}
    </select>

    <select id="selectUser" resultMap="userMap">
        <include refid="selectUser"/>
        where login_name = #{loginName} and pass_word = #{passWord}
    </select>
</mapper>